

<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
          <h1 class="title has-text-centered">passgenerator</h1>
          <div class="field">
            <label> Enter length</label>
            <input class="input" (input)="onChangeLength($any($event.target).value)" />
          </div>
          <div class="field">
              <label>Use LEtters</label>
              <input class="checkbox" (change)="onChangeUseLetters()" type="checkbox"/>
          </div>
          <div class="field">
            <label>Use Numbers</label>
            <input class="checkbox" (change)="onChangeUseNumbers()"  type="checkbox"/>
          </div>
          <div class="field">
                <label>Use Symbols</label>
                <input class="checkbox" (change)="onChangeUseSymbols()" type="checkbox"/>
          </div>
                    
          <div class="field">
            <button class="button is-link is-fullwidth" [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))" (click)="onButtonClick()" >Genereate!!!</button>
          </div>
          <div class="box" *ngIf="password">
            <label>You Passworrd</label>
            <input  class="input" [value]="getPassword()"/>
          </div>
        </div>
    </div>
</div>




